<h5 class="mt-3 mb-2">List of Employees</h5>
<button type="button" class="btn btn-warning push-right mt-3 mb-2" (click)="onAddNew()">Add New Employee</button>
<table id="employeeList" class="table table-bordered">
	<thead>
		<th>Emp ID</th>
		<th>Emp Name</th>
		<th>Designation</th>
		<th>Edit/Delete</th>
	</thead>

	<tbody>
		<tr *ngFor="let emp of employeeList ;let i = index">
			<td>{{emp.id}}</td>
			<td>{{emp.firstName + ' ' + emp.lastName}}</td>
			<td>{{findDesignation(emp.designation)}}</td>
			<td><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit record" (click)="onEdit(emp.id)"></i>/
			<i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete record" aria-hidden="true" (click)="onDelete(emp.id)"></i></td>
		</tr>
		<tr *ngIf="employeeList.length == 0" [style.textAlign] ="'center'">
			<td colspan="4">No records Found.</td>
		</tr>
	</tbody>
</table>